body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
}

.floor {
    background: url('img/stone.jpg') center;
}

.ceiling {
    background: url('img/roof.jpg') center no-repeat;
    background-size: cover;
}

.content {
    background: url('img/frame.png') center;
    background-size: cover;
    height: 200px;
    width: 300px;
    opacity: 1;
    margin: auto;
}

.table {
    position: fixed;
    left: 400px;
}


#room-0 .table .face.face--top {
    background: url('img/wood.jpg') center;
    background-size: cover;
}
#room-0 .table .face {
    background: url('img/table.png') center no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);

}

#room-0 .face {
    background-color: rgb(74, 80, 113);
}

#room-1 .face--front, #room-1 .face--back,#room-1 .face--left, #room-1 .face--right {
    background-color: rgb(74, 126, 85);
}

.door {
    background: url('img/door.png') center no-repeat;
    background-size: cover;
    height: 800px;
    width: 300px;
    position: fixed;
    bottom: 0;
    opacity: 1;
}

#room-1 .door {
    background: url('img/the-door.png');
    height: 650px;
}
#room-1 .floor {
    background: url('img/granada.jpg');
}
#room-1 .ceiling {
    background: url('img/rome-roof2.jpg');
}

#room-2 .door {
    background: url('img/the-other-door.png');
    height: 650px;
}

#room-1 .art {
    background: url("img/wall-art.jpg");
    background-size: cover;
}