body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
}

#dice {
    margin: 500px auto auto;
    height: 153px;
    width: 153px;
    transform: rotateY(0deg) translateZ(0px);
}

#test {
    perspective: 400px;
    position: fixed;
    top: 200px;
    left: 200px;
}

.face--front  { 
    background-color: rgb(139, 113, 105);  
}
.face--back   { 
    background-color: rgb(215, 211, 135);  
}
.face--right  { 
    background-color: rgb(114, 153, 187);
}
.face--left   { 
    background-color: rgb(74, 126, 85);
}
.face--top    { 
    background-color: rgb(223, 221, 221); 
}
.face--bottom { 
    background-color: rgb(105, 84, 84); 
}
